@import url("photographer.css");


$primary_color_1_bg : #901C1C;
$primary_color_2_font : #D3573C;

$secondary_color_1_bg : #D3573C;
$secondary_color_2_font : #525252;
$secondary_color_2_bg : #FAFAFA;
$secondary_color_3_font : #901C1C;
$margin_0_auto: 0 auto;

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
    overflow-x: hidden;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}


#contact_modal {
z-index: 2;
position:absolute;
}
.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}
textarea {
  resize: none;
  width: 100%;
  border-radius: 7px;
  border: transparent;
}
.footer-sticky {
position: sticky;
background: $secondary_color_1_bg;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
padding: 10px;
bottom: 0px;
left: 950px;
width:200px;
display:flex;
justify-content: space-between;
}
#filter-containter {
  display : flex;
  margin: 20px 0 20px 100px;
  span {
    font-size: 18px;
    font-weight: bold;
    padding: 11px;
  }
  #filter {
    list-style-type: none;
    margin: 0;
    padding-left: 10px;

    .filter-display-none {
      display: none;
    }
    .filter-list {
      border-radius: 5px;
      display: flex;
      align-items: center;
      background: $primary_color_1_bg;
      font-size: 20px;
      font-weight: bold;
      color: white;
      padding: 11px;
      width: 170px;
      height: 50px;
      border: none;

    }
  }
}

#photographer_gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 100px;
  gap: 30px;
  img {
    width: 280px;
    height: 280px;
    border-radius: 5px;
    object-fit: cover;
  }
  .gallery_card {
    width: 280px;
    margin: 0 auto;
  }
  .card_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0;
    color: $secondary_color_3_font;
    h3 {
      margin:0 10px 0 0;
      font-size: 14px;
    }
    span {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}
.display-none {
  display:none;
}
.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2 {
      color: $primary_color_2_font;
      font-size: 36px;
      margin: 0 auto;
    }
    h3 {
      color: $secondary_color_3_font;
      text-align: center;
      margin: 0 auto;
    }
    .p_black_color {
      color: black;
      text-align: center;
      margin: 2px auto;
      font-size: 14px;
     }
     .p_grey_color {
      color: $secondary_color_2_font;
      text-align: center;
      margin: 2px auto;
      font-size: 14px;
     }
    img {
      height: 200px;
      width: 200px;
      border-radius: 50%;
      object-fit: cover;
      margin: 0 auto;
    }
}

.photograph-header {
    justify-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;

  img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto;
  }
  h1 {
    color: $primary_color_2_font;
    font-size: 50px;
    margin: 0;
  }
  .p1 {
    color: $secondary_color_3_font;
    margin: 10px auto;
    font-size: 24px;
    }
  .p2 {
    color: $secondary_color_2_font;
    margin: 15px auto;
    font-size: 18px;
  }
  .info-photographer {
    margin: 0 auto;
  }
}

#contact_modal {
  display: none;
  width:500px;
}

.photograph-header {
  background-color: #FAFAFA;
  height: 300px;
  margin: 0 100px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}
#contact_modal {
  z-index: 2;
  position: absolute;
  width: 400px;
  top: 40px;
  left: 30%;
}
.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 100%;
  padding: 10px 25px;
  margin: auto;
  .modal-title {
    h2 {
      font-size: 38px;
      font-weight: normal;
      text-align: left;
      margin: 0;
    }
    .h_title {
      display: flex;
      justify-content: space-between;
    }
  }
}
#close-modal {
  width: 36px;
}
.modal header img {
  cursor: pointer;
}


form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312E2E;
  font-size: 20px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 5px;
}
