@import url("photographer.css");
body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901C1C;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

#contact_modal {
  z-index: 2;
  position: absolute;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

textarea {
  resize: none;
  width: 100%;
  border-radius: 7px;
  border: transparent;
}

.footer-sticky {
  position: sticky;
  background: #D3573C;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 10px;
  bottom: 0px;
  left: 950px;
  width: 200px;
  display: flex;
  justify-content: space-between;
}

#filter-containter {
  display: flex;
  margin: 20px 0 20px 100px;
}
#filter-containter span {
  font-size: 18px;
  font-weight: bold;
  padding: 11px;
}
#filter-containter #filter {
  list-style-type: none;
  margin: 0;
  padding-left: 10px;
}
#filter-containter #filter .filter-display-none {
  display: none;
}
#filter-containter #filter .filter-list {
  border-radius: 5px;
  display: flex;
  align-items: center;
  background: #901C1C;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 50px;
  border: none;
}

#photographer_gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 100px;
  gap: 30px;
}
#photographer_gallery img {
  width: 280px;
  height: 280px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
#photographer_gallery .gallery_card {
  width: 280px;
  margin: 0 auto;
}
#photographer_gallery .card_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  color: #901C1C;
}
#photographer_gallery .card_info h3 {
  margin: 0 10px 0 0;
  font-size: 14px;
}
#photographer_gallery .card_info span {
  margin-left: 5px;
  margin-right: 5px;
}

.display-none {
  display: none;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photographer_section article h2 {
  color: #D3573C;
  font-size: 36px;
  margin: 0 auto;
}
.photographer_section article h3 {
  color: #901C1C;
  text-align: center;
  margin: 0 auto;
}
.photographer_section article .p_black_color {
  color: black;
  text-align: center;
  margin: 2px auto;
  font-size: 14px;
}
.photographer_section article .p_grey_color {
  color: #525252;
  text-align: center;
  margin: 2px auto;
  font-size: 14px;
}
.photographer_section article img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
}

.photograph-header {
  justify-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.photograph-header img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
}
.photograph-header h1 {
  color: #D3573C;
  font-size: 50px;
  margin: 0;
}
.photograph-header .p1 {
  color: #901C1C;
  margin: 10px auto;
  font-size: 24px;
}
.photograph-header .p2 {
  color: #525252;
  margin: 15px auto;
  font-size: 18px;
}
.photograph-header .info-photographer {
  margin: 0 auto;
}

#contact_modal {
  display: none;
  width: 500px;
}

.photograph-header {
  background-color: #FAFAFA;
  height: 300px;
  margin: 0 100px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

#contact_modal {
  z-index: 2;
  position: absolute;
  width: 400px;
  top: 40px;
  left: 30%;
}

.modal {
  border-radius: 5px;
  background-color: #DB8876;
  width: 100%;
  padding: 10px 25px;
  margin: auto;
}
.modal .modal-title h2 {
  font-size: 38px;
  font-weight: normal;
  text-align: left;
  margin: 0;
}
.modal .modal-title .h_title {
  display: flex;
  justify-content: space-between;
}

#close-modal {
  width: 36px;
}

.modal header img {
  cursor: pointer;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312E2E;
  font-size: 20px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 30px;
  border: none;
  border-radius: 5px;
}/*# sourceMappingURL=style.css.map */